<html>
    <body>
        <meta charSet="utf-8" />
        <meta property="og:description" content="Badlion is one of the largest Minecraft community platforms which has over 8 years of history in the space. We also offer a free Minecraft client modpack with 100+ mods, FPS boosting technology, and a client anticheat." />
        <meta property="og:site_name" content="Minecraft Cosmetics | Badlion Store" />
        <meta property="og:title" content="Minecraft Cosmetics | Badlion Store" />
        <meta property="og:url" content="https://store.badlion.net/" />
        <meta property="og:image" content="https://assets.badlion.net/store/images/misc/store_logo.webp" />
        <meta property="og:image:url" content="https://assets.badlion.net/store/images/misc/store_logo.webp" />
        <meta property="og:image:type" content="image/webp" />
        <meta property="og:image:width" content="330" />
        <meta property="og:image:alt" content="Badlion Client Store Logo" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="https://assets.badlion.net/site/favicon.webp" />
        <title>Checkout | Badlion Client Store</title>
        <meta name="description" content="Checkout on the Badlion Client Store to buy your favorite cosmetics or ranks." />
        <meta name="next-head-count" content="15" />


        {{ html_content|safe }}
    </body>
</html>